.head{
    width: 100%;
    background-color: gray;
}

.head2{
    background-color: white;
}

.random{
    border-radius: 20px;
}

canvas{
    border: solid;
    box-shadow: 2px 5px gray;
    border-radius: 20px;
    margin-top: 100px;
}

#footer{
    background-color: gray;
    width: 100%;
    bottom: 0px;
    position: fixed;
    color: white;
    line-height: 3;
    text-align: center;
}